#  An Empirical Comparison of Machine Learning Models for Early Prediction of Unemployment Rates Across Countries

In [1]:
%pip install scikit-learn

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import IsolationForest
from sklearn.preprocessing import StandardScaler

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn in c:\programdata\anaconda3\lib\site-packages (1.5.1)
Requirement already satisfied: numpy>=1.19.5 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (3.5.0)
Note: you may need to restart the kernel to use updated packages.

In [18]:
df_data = pd.read_csv("Unemployment_Rate_Dataset.csv") # Load dataset
df_data.head(20)

,Country Name,Country Code,Indicator Name,Indicator Code,1991,1992,1993,1994,1995,1996,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Aruba,ABW,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,8.179629,8.270724,8.266327,8.138291,7.908446,7.823908,...,7.036357,7.194666,7.346331,7.360513,7.584419,8.191395,8.577385,7.985202,7.806365,7.772654
2,Afghanistan,AFG,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,8.070000,8.011000,7.888000,7.822000,7.817000,7.867000,...,9.052000,10.133000,11.184000,11.196000,11.185000,11.710000,11.994000,14.100000,13.991000,13.295000
3,Africa Western and Central,AFW,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,4.158680,4.251102,4.369805,4.393781,4.399749,4.340691,...,4.164467,4.157574,4.274196,4.323631,4.395271,4.852393,4.736732,3.658573,3.277245,3.218313
4,Angola,AGO,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,16.855000,16.978000,17.399000,17.400000,16.987000,16.275000,...,16.490000,16.575000,16.610000,16.594000,16.497000,16.690000,15.799000,14.602000,14.537000,14.464000
5,Albania,ALB,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,10.304000,30.007000,25.251000,20.835000,14.607000,13.928000,...,17.193000,15.418000,13.616000,12.304000,11.466000,11.690000,11.474000,10.137000,10.108000,10.250000
6,Andorra,AND,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Arab World,ARB,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,11.914508,12.160385,12.918274,13.025172,13.516863,12.477178,...,11.148914,10.856290,11.113108,10.659740,10.216098,11.325613,10.889659,9.953571,9.581397,9.461238
8,United Arab Emirates,ARE,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,1.625000,1.713000,1.905000,1.836000,1.800000,1.834000,...,1.793000,1.640000,2.462000,2.236000,2.331000,4.294000,3.105000,2.872000,2.151000,2.133000
9,Argentina,ARG,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,5.440000,6.360000,10.100000,11.760000,18.800000,17.110000,...,7.579000,8.085000,8.347000,9.220000,9.843000,11.461000,8.736000,6.805000,6.139000,7.876000
10,Armenia,ARM,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,1.783000,1.800000,5.300000,6.600000,6.700000,9.300000,...,18.261000,17.617000,17.704000,18.966000,18.304000,18.175000,15.469000,13.379000,13.245000,13.329000
11,American Samoa,ASM,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Antigua and Barbuda,ATG,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Australia,AUS,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,9.586000,10.733000,10.879000,9.724000,8.473000,8.509000,...,6.055000,5.711000,5.592000,5.300000,5.159000,6.456000,5.116000,3.728000,3.668000,4.072000
14,Austria,AUT,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,3.420000,3.590000,4.250000,3.535000,4.345000,5.282000,...,5.802000,6.064000,5.561000,4.933000,4.560000,5.201000,6.459000,4.992000,5.264000,5.439000
15,Azerbaijan,AZE,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,0.900000,1.800000,4.500000,6.300000,7.200000,8.100000,...,4.960000,5.000000,5.000000,4.900000,5.000000,7.240000,6.040000,5.650000,5.636000,5.594000
16,Burundi,BDI,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,3.158000,3.133000,3.080000,3.095000,3.077000,3.076000,...,1.442000,1.347000,1.247000,1.146000,1.043000,1.030000,1.118000,0.915000,0.921000,0.902000
17,Belgium,BEL,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,6.984000,6.702000,8.078000,9.645000,9.337000,9.483000,...,8.482000,7.830000,7.090000,5.941000,5.364000,5.545000,6.248000,5.570000,5.528000,5.488000
18,Benin,BEN,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,1.640000,1.510000,1.495000,1.455000,1.305000,1.246000,...,1.820000,1.784000,1.659000,1.410000,1.214000,1.502000,1.779000,1.685000,1.657000,1.722000
19,Burkina Faso,BFA,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,2.477000,2.511000,2.438000,2.580000,2.533000,2.451000,...,4.461000,4.587000,4.656000,4.695000,4.710000,5.040000,5.200000,5.389000,5.348000,5.166000

In [19]:
df_data.shape

(266, 38)

In [20]:
df_data.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019', '2020', '2021', '2022', '2023', '2024'],
      dtype='object')

In [21]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 38 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    266 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   1991            235 non-null    float64
 5   1992            235 non-null    float64
 6   1993            235 non-null    float64
 7   1994            235 non-null    float64
 8   1995            235 non-null    float64
 9   1996            235 non-null    float64
 10  1997            235 non-null    float64
 11  1998            235 non-null    float64
 12  1999            235 non-null    float64
 13  2000            235 non-null    float64
 14  2001            235 non-null    float64
 15  2002            235 non-null    float64
 16  2003            235 non-null    float64
 17  2004            235 non-null    float64
 18  2005            235 non-null    float64
 19  2006            235 non-null    float64
 20  2007            235 non-null    float64
 21  2008            235 non-null    float64
 22  2009            235 non-null    float64
 23  2010            235 non-null    float64
 24  2011            235 non-null    float64
 25  2012            235 non-null    float64
 26  2013            235 non-null    float64
 27  2014            235 non-null    float64
 28  2015            235 non-null    float64
 29  2016            235 non-null    float64
 30  2017            235 non-null    float64
 31  2018            235 non-null    float64
 32  2019            235 non-null    float64
 33  2020            235 non-null    float64
 34  2021            235 non-null    float64
 35  2022            234 non-null    float64
 36  2023            232 non-null    float64
 37  2024            230 non-null    float64
dtypes: float64(34), object(4)
memory usage: 79.1+ KB

In [22]:
df_data.dtypes

Country Name       object
Country Code       object
Indicator Name     object
Indicator Code     object
1991              float64
1992              float64
1993              float64
1994              float64
1995              float64
1996              float64
1997              float64
1998              float64
1999              float64
2000              float64
2001              float64
2002              float64
2003              float64
2004              float64
2005              float64
2006              float64
2007              float64
2008              float64
2009              float64
2010              float64
2011              float64
2012              float64
2013              float64
2014              float64
2015              float64
2016              float64
2017              float64
2018              float64
2019              float64
2020              float64
2021              float64
2022              float64
2023              float64
2024              float64
dtype: object

In [23]:
df_data.tail()

,Country Name,Country Code,Indicator Name,Indicator Code,1991,1992,1993,1994,1995,1996,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
261,Kosovo,XKX,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,8.409,8.342,8.344,8.340,8.988,9.585,...,17.900,18.416,18.603,17.584,17.202,17.953,18.287,17.363,17.091,17.086
263,South Africa,ZAF,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,23.002,23.262,23.179,22.942,22.647,22.480,...,25.149,26.536,27.035,26.906,28.468,29.217,34.007,33.268,32.098,33.168
264,Zambia,ZMB,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,18.900,19.544,19.700,18.648,16.828,15.300,...,5.942,5.239,4.529,5.033,5.542,6.033,5.199,5.995,5.905,5.961
265,Zimbabwe,ZWE,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,4.813,4.938,4.990,4.960,5.571,6.163,...,5.377,5.886,6.344,6.793,7.373,8.621,9.540,10.087,8.759,8.554

In [24]:
df_data.describe()

,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
count,235.000000,235.000000,235.000000,235.000000,235.000000,235.000000,235.000000,235.000000,235.000000,235.000000,...,235.000000,235.000000,235.000000,235.000000,235.000000,235.000000,235.000000,234.000000,232.000000,230.000000
mean,7.309450,7.657994,8.077971,8.228115,8.271647,8.382771,8.268826,8.305579,8.456762,8.333982,...,7.802640,7.667339,7.452974,7.206506,7.064106,8.121189,7.809688,6.949933,6.606764,6.521012
std,5.565850,5.866918,5.923331,5.833094,5.893925,5.899470,5.734063,5.659025,5.668398,5.699568,...,5.474281,5.369211,5.253675,5.205504,5.132942,5.498414,5.491331,5.285512,5.040455,5.007064
min,0.600000,0.596000,0.610000,0.617000,0.632000,0.616000,0.631000,0.645000,0.652000,0.634000,...,0.170000,0.150000,0.140000,0.110000,0.100000,0.140000,0.140000,0.130000,0.130000,0.126000
25%,3.091500,3.369500,3.877935,4.072500,4.130000,4.231500,4.176439,4.296083,4.443411,4.295584,...,4.227734,4.199787,4.016000,3.821267,3.707500,4.455500,4.452500,3.728500,3.563250,3.434000
50%,6.079498,6.316000,6.346000,6.889000,7.157000,7.222000,7.079000,7.187000,7.112627,6.776076,...,6.313000,6.029099,5.833000,5.511000,5.552000,6.690897,6.193192,5.469230,5.183500,5.077229
75%,9.574624,9.951500,10.687545,10.689339,10.490233,11.011518,10.850000,11.168500,11.654000,11.118000,...,9.838000,9.661000,9.239780,8.778789,8.833500,9.894745,9.469563,8.411122,7.979966,7.810413
max,30.228000,30.283000,30.348000,30.334000,35.600000,38.800000,36.000000,34.500000,32.400000,32.200000,...,27.695000,26.536000,27.035000,26.906000,28.468000,32.944000,34.153000,35.359000,35.086000,34.400000

In [26]:
# Define columns that are years (e.g., 1990 to 2024)
year_cols = [col for col in df_data.columns if col.isdigit()]
# Countries where all year columns are missing (NaN)
all_missing = df_data[df_data[year_cols].isnull().all(axis=1)]

# Show total count
num_all_missing = all_missing.shape[0]
print(f"Total number of countries missing ALL unemployment year data rate: {num_all_missing}")

# Optionally, show their names
all_missing[['Country Name']]

Total number of countries missing ALL unemployment year data rate: 31

                  Country Name
0                        Aruba
6                      Andorra
11              American Samoa
12         Antigua and Barbuda
27                     Bermuda
51                     Curacao
52              Cayman Islands
57                    Dominica
78               Faroe Islands
79       Micronesia, Fed. Sts.
84                   Gibraltar
90                     Grenada
91                   Greenland
108                Isle of Man
110             Not classified
124                   Kiribati
125        St. Kitts and Nevis
137              Liechtenstein
147   St. Martin (French part)
149                     Monaco
155           Marshall Islands
164   Northern Mariana Islands
179                      Nauru
188                      Palau
212                 San Marino
225  Sint Maarten (Dutch part)
226                 Seychelles
228   Turks and Caicos Islands
245                     Tuvalu
255     British Virgin Islands
261                     Kosovo

In [27]:
# Ensure 'Missing_Years' is computed
df_data['Missing_Years'] = df_data[year_cols].isnull().sum(axis=1)

# Select countries with some (but not all) missing years
partial_missing = df_data[
    (df_data['Missing_Years'] > 0) & (df_data['Missing_Years'] < len(year_cols))
][['Country Name', 'Missing_Years']]

# Total number of such countries
num_partial_missing = partial_missing.shape[0]
print(f"Total number of countries with partially missing unemployment data rate: {num_partial_missing}")

# Optionally, display the top 20
partial_missing = partial_missing.sort_values(by='Missing_Years', ascending=False)
partial_missing.head(20)

Total number of countries with partially missing unemployment data rate: 5

           Country Name  Missing_Years
248             Ukraine              3
206               Sudan              2
196  West Bank and Gaza              2
130             Lebanon              1
216         South Sudan              1

In [28]:
# Select countries with no missing unemployment rates
countries_full_data = df_data[df_data['Missing_Years'] == 0][['Country Name']]

# Print the exact number of such countries
print(f"Countries with complete unemployment data rate: {len(countries_full_data)}")

# Optionally, display the first 20 country names
countries_full_data.head(20)

Countries with complete unemployment data rate: 230

                   Country Name
1   Africa Eastern and Southern
2                   Afghanistan
3    Africa Western and Central
4                        Angola
5                       Albania
7                    Arab World
8          United Arab Emirates
9                     Argentina
10                      Armenia
13                    Australia
14                      Austria
15                   Azerbaijan
16                      Burundi
17                      Belgium
18                        Benin
19                 Burkina Faso
20                   Bangladesh
21                     Bulgaria
22                      Bahrain
23                 Bahamas, The